In [63]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost", user="jskim", password="!Hegikh324985", database="test"
)

mycursor = mydb.cursor(dictionary=True)

In [ ]:
sql = "insert into user (name, age) values (%s, %s)"
val = ("강감찬", 35)

mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")
# print(mydb)

## select 문
* excute() 와 fetchall() 로 적용함
* fetchall() 는 모든데이터 조회
* fetchone() 은 where 조건절을 추가하여 한건 조회
* 만약 fetchone() 의 필터링 이후 값이 여러개면 가장 먼저 조회된 row 가 대상이됨

In [57]:
sql = "select * from user"

mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

print(myresult[0]["NAME"])
sql = "select * from user where age < 50"
mycursor.execute(sql)
myresult = mycursor.fetchone()

print(myresult)

{'ID': 1, 'NAME': '홍길동', 'AGE': 58, 'CREAT_DT': datetime.datetime(2025, 4, 17, 0, 0), 'UPDATE_DT': datetime.datetime(2025, 4, 17, 0, 0)}
{'ID': 2, 'NAME': '김준선', 'AGE': 29, 'CREAT_DT': None, 'UPDATE_DT': None}
{'ID': 5, 'NAME': '강감찬', 'AGE': 35, 'CREAT_DT': None, 'UPDATE_DT': None}
홍길동
{'ID': 2, 'NAME': '김준선', 'AGE': 29, 'CREAT_DT': None, 'UPDATE_DT': None}

## 정렬하기
* 쿼리문에 order by '컬럼' 으로사용
* 기본값은 ASC(오름차순) 이며 컬럼명뒤에 desc(내림차순) 을 부여하면 내림차순 정렬됨

In [61]:
sql = "select * from user order by %s"
val = ("name",)

mycursor.execute(sql, val)
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

{'ID': 1, 'NAME': '홍길동', 'AGE': 58, 'CREAT_DT': datetime.datetime(2025, 4, 17, 0, 0), 'UPDATE_DT': datetime.datetime(2025, 4, 17, 0, 0)}
{'ID': 2, 'NAME': '김준선', 'AGE': 29, 'CREAT_DT': None, 'UPDATE_DT': None}
{'ID': 5, 'NAME': '강감찬', 'AGE': 35, 'CREAT_DT': None, 'UPDATE_DT': None}

## 로우 삭제
* delete 문을 사용함
* insert 와 같이 excute() 이후 mydb.commit() 로 적용

In [65]:
sql = "delete from user where name = %s"
val = ("홍길동",)

mycursor.execute(sql, val)
mydb.commit()